@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 168, 168);
    font-family: "Lato", sans-serif;
    height:100%;
}

.container{
    max-width: 1000px;
    margin: 20px auto;
}

.navbar{
    display: flex;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navbar h1{
    color: rgb(247, 50, 50);
    font-size: 34px;
    letter-spacing: 2px;
    margin-left: 20px;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.navbar li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navbar a{
    text-decoration: none;
    color: rgb(247, 50, 50);
    font-weight: bold;
    padding: 10px 18px;
}

.navbar a:hover{
    background-color: rgb(247, 50, 50);
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
}

.navbar ul li a:active{
    background-color: pink;
}

.contact_me{
    padding: 10px 18px;
    margin-left: 60px;
}

.contact_me > a{
    border: 1px solid rgb(247, 50, 50); 
    border-radius: 10px;
}

.contact_me > a:hover{
    background-color: rgb(247, 50, 50);
    border-radius: 18px;
}

.contact_me a:active{
    background-color: pink;
}

/*main*/
main{
    display: flex;
    width: 100%;
    background-color: white;
    height: 550px;
}

.main_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 140px auto;
    height: 240px;
    width: 340px;
    border-radius: 30px;
    padding-left: 40px;
}

.main_left > h2{
    font-size: 40px;
    font-weight: bold;
    color: rgb(247, 50, 50);
}

.main_left > p{
    font-size: 18px;
    color: rgb(61, 58, 58);
    margin-bottom: 10px;
}

.main_left > a{
    border: 1.8px solid rgb(247, 50, 50);
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(247, 50, 50);
    font-weight: bold;
    padding: 10px 18px;
}

.main_left > a:hover{
    background-color: rgb(247, 50, 50);
    color: white;
}

.main_left a:active{
    background-color: pink;
}

.main_right{
    display: grid;
    place-items: center;
    position: relative;
    width: 680px;
}

.coding{
    z-index: 1;
    position: absolute;
    background-color: bisque;
    height: 40px;
    width: 200px;
    top: 40px;
    left: 80px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.2px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    box-shadow: 1px -2px 14px -8px rgba(0, 0,0.52);
    -webkit-box-shadow: 1px -2px 14px -8px rgba(0, 0,0.52);
    -moz-box-shadow: 1px -2px 14px -8px rgba(0, 0,0.52);
}

.coding.two{
    position: absolute; 
    height: 48px;
    width: 180px;
    top: 310px;
    left: 450px;
}

.coding.three{
    position: absolute; 
    height: 87px;
    width: 150px;
    top: 400px;
    left: 20px;
    text-align: center;
    font-size: 20px;
}

.box{
    background-color: rgb(247, 50, 50);
    border-top-left-radius: 440px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 180px;
    width: 440px;
    height: 260px;
    position: relative;
    margin-left: 20px;
}

.box > img{
    width: 100%;
    height: 400px;
    object-fit: contain;
    top: -140px;
    position: absolute;
}

/* section */
.skills{
    display: flex;
    width: 100%;
    height: 440px;
}

.skills_left{
    position: relative;
    width: 50%;  
}

.skills_left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.skills_left h2{
    position: absolute;
    width: max-content;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-left: 10px;
    letter-spacing: 1px;
    top: 80px;
    left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.skillset{
    position: absolute;
    width: max-content;
    border-radius: 8px;
    padding: 8px;
    margin-left: 10px;
    letter-spacing: 1px;
    font-size: 15px;
    color: black; 
    background-color: white;
}

.skillset.a{
    top: 130px; 
    left: 5px;
}

.skillset.b{
    top: 130px; 
    left: 70px;
}

.skillset.c{
    top: 130px; 
    left: 120px;
}

.skillset.d{
    top: 168px; 
    left: 5px;
}

.skillset.e{
    top: 168px; 
    left: 80px;
}

.skillset.f{
    top: 168px; 
    left: 112px;
}

.skillset.g{
    top: 168px; 
    left: 165px;
}

.skillset.h{
    top: 205px; 
    left: 5px;
}

.skillset.i{
    top: 205px; 
    left: 35px;
}

/* scrollbar */
.skill scrollbar{
    border-radius: 8px;
    width:400px;
    height:200px;
    background-color: rgb(240, 168, 168);
    overflow:scroll;
    scrollbar-width: none;
    padding:5px;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

.skills_right{
    width: 50%;
    background-color: #eec5c5;
    color: rgb(19,18,18);
}

.skill{
    display: grid;
    gap: 1.8rem;
    padding: 44px;
    margin: 44px auto;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    font-size: 14px;
    letter-spacing: 0.8px;
}


    


.skill p{
    font-weight: bold;
    color: rgb(37, 35, 35);
    margin-top: 10px;
}

.exprience{
    width: 100%;
    background-color: white;
}


.exprience > h2{
    font-size: 40px;
    font-weight: bold;
    color: rgb(247, 50, 50);
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.exprience > h6{
    border-bottom: 1px solid black;
}

.exprience > p{
    font-size: 15px;
    color: rgb(61, 58, 58);
    
}

.exprience ul li{
    margin-left: 30px;
}

.card {
    border: 1.8px solid rgb(247, 50, 50);
    border-radius: 8px;
    margin: 20px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.education{
    position: relative;
    display: flex;
    width: 100%;
    height: 520px;
    justify-content: center;
}

.education img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.education h2{
    position: absolute;
    width: max-content;
    color: rgb(247, 50, 50);
    background-color: white;
    border: 2px solid rgb(247, 50, 50);
    border-radius: 8px;
    padding: 8px;
    margin-left: 10px;
    letter-spacing: 1px;
    top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.education scrollbar{
    position: absolute;
    border-radius: 8px;
    top: 120px;
    width:500px;
    height:380px;
    background-color: white;
    overflow:scroll;
    scrollbar-width: none;
    padding:5px;
}

.education ul li{
    margin-left: 30px;
}

.toastmaster{
    display: flex;
    width: 100%;
    background-color: white;
    height: 480px;
}

.toastmaster_left{
    display: grid;
    place-items: center;
    position: relative;
    width: 680px;
}

.bubble{
    z-index: 1;
    position: absolute;
    background-color: bisque;
    height: 40px;
    width: 200px;
    top: 120px;
    left: 30px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.2px;
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px -2px 14px -8px rgba(0, 0,0.52);
    -webkit-box-shadow: 1px -2px 14px -8px rgba(0, 0,0.52);
    -moz-box-shadow: 1px -2px 14px -8px rgba(0, 0,0.52);
}

.bubble.two{
    position: absolute; 
    height: 70px;
    width: 210px;
    place-items: center;
    top: 310px;
    left: 350px;
}

.bubble.three{
    position: absolute; 
    height: 87px;
    width: 150px;
    top: 130px;
    left: 320px;
    text-align: center;
    font-size: 20px;
}

.boxi{
    background-color: rgb(247, 50, 50);
    border-top-right-radius: 440px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 180px;
    width: 400px;
    height: 260px;
    position: relative;
    top: 40px;
    left: -80px;
}

.boxi > img{
    width: 100%;
    height: 450px;
    object-fit: contain;
    top: -100px;
    left: -40px;
    position: absolute;
}

.toastmaster_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 140px ;
    margin-right: 50px;
    height: 240px;
    width: 340px;
    border-radius: 30px;
    padding-left: 5px;
}

.toastmaster_right > h2{
    font-size: 40px;
    font-weight: bold;
    color: rgb(247, 50, 50);
}

.toastmaster_right > p{
    font-size: 18px;
    color: rgb(61, 58, 58);
    margin-bottom: 10px;
}



.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: white;
    height: 110px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.links > a{
    border: 1.8px solid rgb(247, 50, 50);
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(247, 50, 50);
    font-weight: bold;
    padding: 10px 18px;
}

.links > a:hover{
    background-color: rgb(247, 50, 50);
    color: white;
}

.links a:active{
    background-color: pink;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

@media screen and (max-width:800px) {
    .navbar > h1{
        display: none;
    }
    
    .navbar{
        justify-content: center;
    }

    .contact_me{
        padding: 1px;
        margin-left: 1px;
    }
    .main{
        height: 10px;
    }

    .main_right{
        display: none;
    }

    .main_left{
        justify-content: center;
    }

    .main_left > h2{
        font-size: 40px;
        font-weight: bold;
        color: rgb(247, 50, 50);
        align-self: center;
    }

    .main_left > a{
        align-self: center;
    }

    

    .skill{
        font-size: 12px;
    }

    .skill p{
        font-size: 10px;
    }

    .skills{
        height:100%;
    }
    .skills_left{
        width: 100%;
    }

    .skills_left h2{
        font-size: small;
    }

    .skillset{
        font-size: smaller;
    }
    

    .links{
        gap: 0.1rem;
    }
}

@media (max-width: 400px) {
    .body{
        display: none;
    }
    .contact_me{
        display: none;
    }
}